.body-header {
  display: flex;
  align-items: center;
  padding: 18px 0px 44px;
  column-gap: 110px;
  padding-left: 71px;
}

.profile-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
}
.profile-photo img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 100%;
  border: 1px solid #dfdfdf;
}

.profile-description-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 14px 0px;
  font-size: 28px;
  column-gap: 20px;
  max-width: 613px;
}

.username {
  max-width: 425px;
  overflow: hidden;
}

.profile-activity {
  display: flex;
  margin-bottom: 15px;
}
.profile-activity > div {
  display: flex;
  margin-right: 40px;
  font-size: 18px;
}
.profile-numbers {
  font-weight: 600;
  margin-right: 5px;
}
.profile-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-about {
  line-height: normal;
}

#user-profile-navigation {
  height: 53px;
}
#user-profile-navigation {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.selector {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(115, 115, 115);
  user-select: none;
  font-size: 12px;
  cursor: pointer;
}
.selector svg {
  color: rgb(115, 115, 115);
  width: 16px;
  height: 16px;
}

.selector.selected {
  color: black;
}
.selector.selected svg {
  color: black;
}

@media (max-width: 935px) {
  .body-header {
    padding-left: 10px;
    column-gap: 50px;
    justify-content: center;
  }
}
