main.has-nav {
  padding-top: 55px;
}
.standard-body {
  max-width: 935px;
  width: 935px;
  min-height: 850px;
  margin: 0 auto;
}
.fixed-body {
  /* overflow-y:scroll; */
  overflow: hidden;
}
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-d-cl {
  flex-direction: column;
}
.flex-d-r {
  flex-direction: row;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center !important;
}
.flex-m-c {
  margin: 0 auto;
}

.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 5px;
}
.p2 {
  padding: 10px;
}
.p3 {
  padding: 15px;
}
.p4 {
  padding: 20px;
}
.p7 {
  padding: 40px;
}
.ptb7 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.plr16px {
  padding-left: 16px;
  padding-right: 16px;
}
.m0 {
  margin: 0;
}
.m1 {
  margin: 5px;
}
.m2 {
  margin: 10px;
}
.m3 {
  margin: 15px;
}
.m4 {
  margin: 20px;
}
.m7 {
  margin: 40px;
}
.mt4 {
  margin-top: 20px;
}
.mb4 {
  margin-bottom: 20px;
}
.mtb2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb7 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.line-body {
  display: flex;
  height: 15px;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dbdbdb;
}
.line-text {
  color: #737373;
  font-size: 13px;
  font-weight: 600;
}

a {
  cursor: pointer;
}
.visible-link {
  color: #00376b;
  cursor: pointer;
}
p {
  word-break: break-all;
}
.rotate90 {
  rotate: 90deg;
}
.rotate180 {
  rotate: 180deg;
}
.scroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* height: 505px; */
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 935px) {
  .standard-body {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
