input {
  display: flex;
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  outline: none;
  padding: 0 8px;
  margin-bottom: 8px;
}

textarea.comment,
input.comment {
  border-color: transparent;
  margin-bottom: 0;
  height: 36px !important;
  word-break: break-all;
  resize: none;
  width: 100% !important;
  outline: none;
  font-size: 16px;
}
