.stories {
  display: flex;
  width: 100%;
  /* overflow-x: scroll; */
}
.stories-feed {
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
}
.highlights {
  min-height: 120px;
  border-bottom: 1px solid #dfdfdf;
}
.story {
  min-width: 56px;
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-42px {
  min-width: 42px;
  width: 42px;
  height: 42px;
}
.stories .story {
  min-width: 72.5px;
  width: 72.5px;
  height: 72.5px;
  padding-top: 5px;
  cursor: pointer;
}
.story img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 2px solid #dbdbdb;
}
.story-42px img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #dbdbdb;
}
.story img.new {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#de0046, #f7a34b) border-box;
  border: 2px solid transparent;
}
.story .text {
  margin-top: 10px;
}

.stories-circle {
  background-color: transparent;
  border: 5px solid #dbdbdb;
  border-radius: 100%;
}

@media (min-width: 735px) {
  .story.highlight {
    min-width: 125px;
    width: 125px;
    height: 125px;
  }
  .story.highlight img {
    width: 80px;
    height: 80px;
  }
}
